  body .css-1bhdybd {
            padding-top: 64px;
        }

        body .css-tdkn3y {
            justify-content: space-between;
            height: auto;
        }

        body .css-xb2k44 {
            gap: 0;
        }

        body .css-u8tjlb {
            max-width: 688px;
        }

        h1.css-1ik6pa2,
        p.css-12f5xw8 {
            margin-bottom: 20px;
        }

        @media screen and (min-width: 599px) {
            .smartling-de h1.css-1ik6pa2,
            .smartling-de p.css-uwkfje {
                font-size: 64px;
            }
        }

        @media screen and (max-width: 494px) {
            h1.css-1ik6pa2,
            p.css-uwkfje {
                text-align: center;
            }
        }
  